        <div class="container">
            <h1>Recherche de mariage</h1>
                <form (ngSubmit)="onSubmit()" #mairieForm="ngForm">
                  <div class="form-row align-items-center">

                    </div>
                  <div class="form-row">
                    <div class="form-group form-row col-md-12">
                      <label for="nom">Nom de la ville/mairie :</label>
                      <select type="text" class="form-control" id="nom" [(ngModel)]="nom" name="nom" required>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                        <option value="5">Five</option>
                        <option value="6">Six</option>
                        <option value="7">Seven</option>
                        <option value="8">Eight</option>
                        <option value="9">Nine</option>
                        <option value="10">Ten</option>
                      </select>
                      <label for="nom">Entrez le mois:</label>
                      <select class="form-control" id="mois" [(ngModel)]="mois" name="mois" required>
                        <option value="Janvier">Janvier</option>
                        <option value="Février">Février</option>
                        <option value="Mars">Mars</option>
                        <option value="Avril">Avril</option>
                        <option value="Mai">Mai</option>
                        <option value="Juin">Juin</option>
                        <option value="Juillet">Juillet</option>
                        <option value="Août">Août</option>
                        <option value="Septembre">Septembre</option>
                        <option value="Octobre">Octobre</option>
                        <option value="Novembre">Novembre</option>
                        <option value="Décembre">Décembre</option>
                      </select>
                    </div>
                </div>
                  <div class="form-row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary" [disabled]="!mairieForm.form.valid" routerLink="/info">Rechercher</button>
                      <button type="reset" class="btn btn-secondary">Effacer</button>
                    </div>
                </div>
                </form>
        </div>

